a {
	text-decoration: none !important;
	display: block;
	position: relative;
	width: 168px;
	color: inherit;
	padding-top: 4px;
}

a:hover {
	background: rgba(206,226,240,1);
	background: -moz-linear-gradient(top, rgba(206,226,240,1) 0%, rgba(250,250,250,1) 86%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(206,226,240,1)), color-stop(86%, rgba(250,250,250,1)));
	background: -webkit-linear-gradient(top, rgba(206,226,240,1) 0%, rgba(250,250,250,1) 86%);
	background: -o-linear-gradient(top, rgba(206,226,240,1) 0%, rgba(250,250,250,1) 86%);
	background: -ms-linear-gradient(top, rgba(206,226,240,1) 0%, rgba(250,250,250,1) 86%);
	background: linear-gradient(to bottom, rgba(206,226,240,1) 0%, rgba(250,250,250,1) 86%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cee2f0', endColorstr='#fafafa', GradientType=0 );
}

a:hover .image-container {
	border: 2px solid #b9cdde;
	padding-top: 0px;
}

.image-container {
	padding-top: 2px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 152px;
	background-color: white;
}

img {
	user-select: none;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

strong {
	margin-left: auto;
    margin-right: auto;
}

.price-container {
	padding-top: 15px;
}

.price {
	color: #cc152c;
}

.price > strong {
	font-size: 16px;
}

.conditions {
	font-size: 10px;
	color: #cc152c;
}

.description {
	padding-top: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	font-size: 10px;
}

span {
	letter-spacing: 0.4px;
	display: -webkit-box;
	font-size: 10px;
	font-weight: normal;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}