.wrap {
    overflow: hidden;
    width: 830px;
    height: 310px;
    border-radius: 5px;
    border: 1.6px solid #f0f0f0;
    padding-top: 14px;
    font-family: sans-serif;
}

.carousel {
    position: relative;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    left: -40.5%;
}

.carousel-forward{
    transform: translateX(33.33333%);
}

.carousel-reverse {
    transform: translateX(-33.33333%);
}

.trans {
    transform: none;
    transition: transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}

.carousel-item {
  flex: 1 0 100%;
  flex-basis: 100px;
}

.reference-container {
    z-index: 10; 
    position: relative;
    border-right: 1.6px solid #f0f0f0;
}

.reference-container > div:first-child {
    float: left;
    width: 170px;
    background-color: white; 
    margin-left: -1px;
}

.header-carousel {
    height: 35px;
    width: 830px;
    border-right: 1.6px solid #f0f0f0;
    background: rgba(242,246,248,1);
    background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(238,246,253,1) 48%, rgba(229,241,251,1) 60%, rgba(224,239,249,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(48%, rgba(238,246,253,1)), color-stop(60%, rgba(229,241,251,1)), color-stop(100%, rgba(224,239,249,1)));
    background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(238,246,253,1) 48%, rgba(229,241,251,1) 60%, rgba(224,239,249,1) 100%);
    background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(238,246,253,1) 48%, rgba(229,241,251,1) 60%, rgba(224,239,249,1) 100%);
    background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(238,246,253,1) 48%, rgba(229,241,251,1) 60%, rgba(224,239,249,1) 100%);
    background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(238,246,253,1) 48%, rgba(229,241,251,1) 60%, rgba(224,239,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );
}

.header-carousel span {
    font-family: sans-serif;
    font-size: 18px;
    left: 1%;
    top: 23%;
    position: relative;
    display: inline-block;
    color: #156c9a;
    font-weight: bold;
}

.header-carousel > span:first-child {
    width: 23%;
}

.arrow-left-cont {
    position: relative;
    height: 77%;
    width: 25px;
    float: left;
    background-color: white;
    border-left: 1.6px solid #f0f0f0;"
}

.arrow-left {
    position: relative;
    top: 48px;
    width: 0;
    height: 0;
    left: 8px;
    float: left;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 20px solid blue;
    cursor: pointer;
}

.arrow-left-disabled {
    pointer-events:none;
    border-right: 20px solid grey;
}

.arrow-right-cont {
    position: relative;
    height: 100%;
    width: 80px;
    float: right;
    z-index: 10;
    background: rgba(242,246,248,0);
    background: -moz-linear-gradient(left, rgba(242,246,248,0) 0%, rgba(255,255,255,0.69) 48%, rgba(255,255,255,0.86) 60%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242,246,248,0)), color-stop(48%, rgba(255,255,255,0.69)), color-stop(60%, rgba(255,255,255,0.86)), color-stop(70%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(242,246,248,0) 0%, rgba(255,255,255,0.69) 48%, rgba(255,255,255,0.86) 60%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(242,246,248,0) 0%, rgba(255,255,255,0.69) 48%, rgba(255,255,255,0.86) 60%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(242,246,248,0) 0%, rgba(255,255,255,0.69) 48%, rgba(255,255,255,0.86) 60%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(242,246,248,0) 0%, rgba(255,255,255,0.69) 48%, rgba(255,255,255,0.86) 60%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#ffffff', GradientType=1 );
}

.arrow-right {
    top: 48px;
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 20px solid blue;
    left: 51px;
    position: relative;
    cursor: pointer;
}

.arrow-right-disabled {
    pointer-events:none;
    border-left: 20px solid grey;
}